ul li {
    color: white;
    align-items:center;
    line-height: 42px;
    height: 42px;
    padding-left:20px
}

ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}