.box {
    width: 50%;
    font-size: 13px;
}
  
.row {
    display: flex;
    vertical-align: baseline;
    margin-bottom: 15px;
    }

.column {
    display: flex;
    vertical-align: baseline;
    width: 125px;
}
