<main>
<div>
   <form [formGroup]="inquiryForm" (ngSubmit)="onSubmit()" novalidate>

    <p>
      <label for="userId">User-id </label>
      <input [(ngModel)]="inquiryForm.userId" type="text" id="userId" name="userId" formControlName="userId">
    </p>
    <div
      *ngIf="!userId?.valid && (userId?.dirty ||userId?.touched)">
      <div [hidden]="!userId.errors.required">
        Part-number is required
      </div>User-id
      <div [hidden]="!userId.errors.maxlength">
        Max length allowed is {{userId.errors.maxlength?.requiredLength}}
      </div>
    </div>

    <p>
      <label for="distributor">Distributor </label>
      <input [(ngModel)]="inquiryForm.distributor" type="text" id="distributor" name="distributor" formControlName="distributor">
    </p>
    <div
      *ngIf="!distributor?.valid && (distributor?.dirty ||distributor?.touched)">
      <div [hidden]="!distributor.errors.required">
        Part-number is required
      </div>
      <div [hidden]="!distributor.errors.maxlength">
        Max length allowed is {{distributor.errors.maxlength?.requiredLength}}
      </div>
    </div>

    <p>
      <label for="partNumber">Part-number </label>
      <input [(ngModel)]="inquiryForm.partNumber" type="text" id="partNumber" name="partNumber" formControlName="partNumber">
    </p>
    <div
      *ngIf="!partNumber?.valid && (partNumber?.dirty ||partNumber?.touched)">
      <div [hidden]="!partNumber.errors.required">
        Part-number is required
      </div>
      <div [hidden]="!partNumber.errors.maxlength">
        Max length allowed is {{partNumber.errors.maxlength?.requiredLength}}
      </div>
    </div>
   
    <p>
      <label for="quantity">Quantity </label>
      <input [(ngModel)]="inquiryForm.quantity" type="text" id="lastname" name="quantity" formControlName="quantity">
    </p>
    <div *ngIf="!quantity.valid && (quantity.dirty ||quantity.touched)">
      <div [hidden]="!quantity.errors.pattern">
        Only numbers are allowed
      </div>
      <div [hidden]="!quantity.errors.maxlength">
        Max length allowed is {{quantity.errors.maxlength?.requiredLength}} 
      </div>
      <div [hidden]="!quantity.errors.required">
        Quantity is required
      </div>
    </div>

    <p>
      <label for="vor">VOR </label>
      <input [(ngModel)]="inquiryForm.vor" type="radio" value="Y" name="vor" formControlName="vor" > Y
      <input [(ngModel)]="inquiryForm.vor" type="radio" value="N" name="vor" formControlName="vor" > N
    </p>
  
    <p>
      <button type="submit" [disabled]="!inquiryForm.valid">Submit</button>
    </p>   
  </form>
</div>
<div>
  <p *ngIf="loading">Loading...</p>
</div>
<div class='box'>
  <div class='row'>
    <div class='column'>Source</div>
    <div class='column'>{{stockPart['SOURCE_CD']}}</div>
  </div>
  <div class='row'>
    <div class='column'>Supplier code</div>
    <div class='column'>{{stockPart['SUPPLIER_CD']}}</div>
  </div>
  <div class='row'>
    <div class='column'>Ref.no</div>
    <div class='column'>{{stockPart['DOCUMENT']}}</div>
  </div>
  <div class='row'>
    <div class='column'>New PNO</div>
    <div class='column'>{{stockPart['NEW_PNO']}}</div>
  </div>
  <div class='row'>
    <div class='column'>PNC</div>
    <div class='column'>{{stockPart['PART_NAME_CD']}}</div>
  </div>
  <div class='row'>
    <div class='column'>Weight</div>
    <div class='column'>{{stockPart['NET_WEIGHT']}}</div>
  </div>
  <div class='row'>
    <div class='column'>Message1</div>
    <div class='column'>{{stockPart['LNK_TEXT20']}}</div>
  </div>
  <div class='row'>
    <div class='column'>Message2</div>
    <div class='column'>{{stockPart['LNK_TEXT12']}}</div>
  </div>     
</div>
   

</main>