body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 13px;
    background-color: #E4F0FF;
}

label {
  display: inline-block;
  vertical-align: baseline;
  width: 125px;
  color: #2D2D2D;
  font-size: 13px;
}

form, input[type=text] {
  margin-right: 100px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    /* grid-gap: 12px; */
    grid-template-areas:
    "header header header"
    "nav content content"
    "footer footer footer";
    height: 100vh;
  }

app-header {
    color: black;
    grid-area: header;
    text-align: center;
    background-color: white;
  }
  app-nav {
    grid-area: nav;
    /* margin-left: 0.6rem;
    background-color: #2A92BF; */
    background-color: #476e56
  }
  
  app-main {
    grid-area: content;
    background-color: #eaeaea;
    padding-left: 25px;
  }
  
  app-aside {
    grid-area: side;
    margin-right: 0.6rem;
    background-color: #2A92BF;
  }
  
  app-footer {
    grid-area: footer;
    background-color:#42375f;
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  ol {
    padding-left: 30px;
  }

  ol li {
    color: white;
  }
  
  ol li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
  }

  @media (max-width: 991px) {
    app-nav, 
    app-aside {
      margin: 0;
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
          "header"
          "nav"
          "content"
          "side"
          "footer";
        grid-template-rows:auto minmax(60px, auto) 1fr minmax(70px, auto) auto;
    }
 }